.collection-fields-wrapper {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 10px;
  height: 210px;

  .custom-fields {

    .entity-collection-field {

      > div {
        display: flex;

        > span {
          margin-right: 5px;
        }
      }
    }

    .toolbar {

      width: 100%;
      display: flex;
      justify-content: space-between;

      .title {
        font-weight: bold;
        margin: 5px;
      }

      .controls {

      }

    }
  }

  .default-fields {
    min-width: 110px;

    > label {
      display: block;
      font-weight: bold;
      margin: 10px 0;
    }

    > span {
      display: block;
      margin: 10px 0;

      > label {
        margin-left: 10px;
      }
    }
  }
}

.dialog-custom-field-wrapper {
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}