.field-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;

  .field {
    margin-right: 15px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    &:first-child {
      flex-grow: 1;
    }

    &:last-child {
      margin-right: 0;
    }

    input {
      width: 100%;
    }
  }
}

.window-button {
  padding: 5px 20px;
  margin: 5px;
}