html {
  --bg0: #fff;
  --bg1: #fbfbfb;
  --bg2: #f3f3f4;
  --bg3: #e4e4e4;
  --bg4: #cfcfcf;
  --bg5: #cdcbcb;
  --bg6: #c2c2c2;
  --fg1: #000;
  --fg2: #444;
  --fg3: #888;
  --fg4: #aaa;
  --bg-blue: #2ea7d6;
  --fg-blue: #1b5381;
  --fg-green: #56bd45;
  --fg-red: #c95f59;
  --fg-cyan: #76aabf;
  --fg-orange: #de9a2c;
  --fg-yellow: #d0cc18;
  --fg-purple: #e28fd0;
  --fg-git: #f34f29;
}

.k-filter-operator {
  width: 100px;
}
.k-filter-value {
  width: 120px;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.grid {
  margin:2vh 0 2vh 3vw;
  width: 29vw;
  height: 36vh;
  float: left;
}
.grid-toolbar {
  height: 35px;
  line-height: 32px;
  padding: 0 20px 0 12px;
  background-color: var(--bg2);
  font-weight: bold;
  border: 0;
  margin: 0!important;
}
.icon-grid {
  width: 22px;
  height: 20px;
  margin: 0;
  vertical-align: bottom;
  padding: 0;
  display: inline-block;
  background-size: 20px;
  background-repeat: no-repeat;
}
.icon-toolbar {
  width: 26px;
  height: 20px;
  margin: 0;
  vertical-align: bottom;
  padding: 5px 0 0 0;
  display: inline-block;
  background-size: 20px;
  background-position-x: center;
  background-repeat: no-repeat;
}
.icon-epoch {
  background-image: url(images/epoch.svg);
}
.icon-entity {
  background-image: url(images/entity.svg);
}
.icon-collection {
  background-image: url(images/collection.svg);
}
.icon-procedure {
  background-image: url(images/procedure.svg);
}
.icon-nn {
  background-image: url(images/nn.svg);
}
.icon-statement {
  background-image: url(images/statement.svg);
}

.dialog-button {
  float:right;
  margin:10px 5px;
  min-width:100px
}
.dialog-label {
  display: inline-block;
  margin-left: 6px;
  margin-bottom: 6px;
}
.rounded-box {
  background: var(--bg2);
  border: 1px solid var(--bg5);
  border-radius: 8px;
  padding: 8px;
}
.spacer {
  display: block;
  height: 8px;
}
.dialog-icon {
  display: inline-block;
  width: 40px;
  height: 20px;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.dialog-icon-linear {
  background-image: url(images/linear.svg);
}
.dialog-icon-ease-in {
  background-image: url(images/ease_in.svg);
}
.dialog-icon-ease-out {
  background-image: url(images/ease_out.svg);
}
.dialog-icon-ease-in-out {
  background-image: url(images/ease_in_out.svg);
}

.dialog-icon-prob {
  background-image: url(images/dice.svg);
  height: 24px;
}
.dialog-icon-strength {
  background-image: url(images/weight.svg);
}
.dialog-icon-criticality {
  background-image: url(images/warning.svg);
}

.tagify {
  background-color: var(--bg0);
}

.tags-look .tagify__dropdown__item{
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: black;
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}

.CodeMirror {
  height: auto;
}

.k-toolbar.k-grid-toolbar::before {
  display: none;
}

/*fix dropdownlist in window dialog*/
.k-animation-container.k-animation-container-relative.k-list-container.k-reset {
  z-index: 10012;
}

.k-grouping-header {
  display: none;
}